/target
a.out
bf.zip
/*.b
/*.bf
/bf
/*.asm
/*.clif
/*.ron
/*.log
/*.diff
/*.jar
/*.bc
/*.ll
/perf.*
/flamegraph.svg
/*.wasm
/*.js
/*.wat
/*.out
/pkg
/demo/pkg
/*.o
/*.s
/*.elf
/cmp.py
/*.bin
/llvm
/a
/*.class
/*.java
/*.jasm
/expanded.rs
